[pylint]
disable =
    R0904,
    too-few-public-methods,
    too-many-arguments,
    logging-fstring-interpolation,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    raise-missing-from,

max-line-length = 88