setuptools
packaging
wheel
twine
black==20.8b1
flake8
darglint
pylint==2.8.3
pytest
pytest-docker
# for callback test server
uvicorn==0.16.0
fastapi
# for testing notebooks
papermill
notebook
ipywidgets