packaging
setuptools
wheel
twine
black==20.8b1
flake8
darglint
pylint==2.8.3
pytest
pytest-docker
notebook
sphinx
sphinx-rtd-theme
nbsphinx
sphinx-copybutton
m2r2
# for callback test server
uvicorn
fastapi
